@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Sura:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #ffffee !important;
}

html {
    max-width: 1920px;
    overflow-x: hidden;
}


.text-header {
    font-size: 60px;
    font-family: "Charmonman", cursive;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #163f72;
    animation-name: gradient, gradient-2;
    animation-duration: 7500ms;
    animation-iteration-count: infinite;
    background-color: #fcd955;
    border-radius: 33px;
}

.text-subheader {
    font-size: 48px;
    font-family: "Sura", serif;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #163f72;
    animation-name: gradient, gradient-3;
    animation-duration: 240000ms;
    animation-iteration-count: infinite;
    border-radius: 33px;
    width: 50%;
    background-color: #fcd955;
    margin-bottom: 40px;
    margin-top: 40px;
}

.text-content {
    font-family: "Work Sans", sans-serif;
    line-height: 70px;
}

@keyframes gradient {
    0% {
        color: #163f72;
    }
    20% {
        color: #e0c971;
    }
    40% {
        color: #bb4141
    }
    60% {
        color: #ffffff;
    }
    80% {
        color: #14663b;
    }
    100% {
        color: #163f72;
    }
}

@keyframes gradient-2 {
    0% {
        background-color: #fcd95580;
    }
    20% {
        background-color: #d9232380
    }
    40% {
        background-color: #ffffff80;
    }
    60% {
        background-color: #007a3a80;
    }
    80% {
        background-color: #003d8880;
    }
    100% {
        background-color: #fcd95580;
    }
}

@keyframes gradient-3 {
    0% {
        background-color: #fcd955;
    }
    20% {
        background-color: #d92323;
    }
    40% {
        background-color: #ffffff;
    }
    60% {
        background-color: #007a3a;
    }
    80% {
        background-color: #003d88;
    }
    100% {
        background-color: #fcd955;
    }
}

nav.navbar {
    height: 75px;
    background-color: #ffffdd !important;
}

#header {
    background-image: linear-gradient(to bottom, #00000000 50%, #ffffee 90%), url(img/undp-seychelles-undp-victoria-from-heights-3.jpg);
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
}

a.navbar-brand > img {
    width: 50px;
    border-radius: 50px;
}

.col.col-5 > img, .col.col-4 > img {
    width: 90%;
}

.gradient {
    height: 250px;
    background-image: linear-gradient(to bottom, #ffffee 50%, #00000000 100%);
    background-color: #fcd955;
    animation-name: gradient, gradient-2;
    animation-duration: 240000ms;
    animation-iteration-count: infinite;
}